Incorrect TTL field and caching behavior of OPT EDNS0 RR

Obviously DNSCrypt-Proxy is caching the OPT record and storing a TTL value in the TTL field.

According to [RFC 6891 Section 6.1.3](https://tools.ietf.org/html/rfc6891#section-6.1.3), the TTL field of OPT EDNS0 RR has special meaning.

Also according to [Section 6.2.1](https://tools.ietf.org/html/rfc6891#section-6.2.1), the OPT record is a hop-by-hop record and MUST NOT be cached.

![Screenshot of dig](https://user-images.githubusercontent.com/1808930/41890243-31196268-7941-11e8-9a15-b305cc7ab047.png)

![Screenshot of Wireshark](https://user-images.githubusercontent.com/1808930/41890193-fc5225c4-7940-11e8-8f3f-5a51f2168790.png)

A latest build shows this problem is not fixed.
The OPT field is still cached, and have a TTL that decreases by time.

I am investigating with this issue, and will reply to you when I figure it out.

Request reopen.